<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>
<body>
    <form action="/admin" method="POST">
        <div>
            <input name="subject" type="text" placeholder="Subject">
        </div>
        <div>
            <textarea name="text" rows="5" cols="33"></textarea>
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
</body>
</html>